<app-navigation></app-navigation>
<div class="container">
   <div class="row justify-content-center align-items-center">
     <form class="col-6" [formGroup]="personalForm" (ngSubmit)="onSubmit()">
       <div class="form-group">
         <label>First Name</label>
         <input type="text" class="form-control" formControlName="firstName" [(ngModel)]="customer.firstName">
       </div>
       <div class="form-group">
        <label>Last Name</label>
         <input type="text" class="form-control" formControlName="lastName" [(ngModel)]="customer.lastName">
       </div>
       <div class="form-group">
        <label>Email</label>
         <input type="text" class="form-control" formControlName="email" [(ngModel)]="customer.email">
       </div>
       <div class="form-group">
        <label>Phone</label>
         <input type="text" class="form-control" formControlName="phone" [(ngModel)]="customer.phone">
       </div>
       <div class="form-group">
        <label>Username</label>
         <input id="uname" type="password" class="form-control" formControlName="userName" [(ngModel)]="customer.userName">
         <input type="checkbox" (click)="showUsername()"> Show Username
        </div>
        <div class="form-group">
          <label>New Password (not required)</label>
           <input id="newpword" type="password" class="form-control" formControlName="newPassword" [(ngModel)]="customer.newPassword">  
           <input type="checkbox" (click)="showNewPassword()"> Show Password
          </div>
        <div class="form-group">
          <label>Enter Current Password to Update Information</label>
            <input id="pword" type="password" class="form-control" formControlName="password" required>  
            <input type="checkbox" (click)="showPassword()"> Show Password
        </div>  
        <div class="form-group">
         <button [disabled]="!personalForm.valid" type="submit" class="btn btn-primary btn-block">Update Information</button>
        </div>
     </form>  
   </div>
 </div>